#emp_search{
	width:330px;
	margin-right:10px;
}

#name_result{
	width:200px;
}

#email_result{
	width:400px;
}

#isadmin,#issales{
	margin-top:8px;
}

.photo_name{
	font-weight:bold;
}

.delete{
	position: relative;
	left:10px;
	cursor:pointer;
}

.xui_title_bar{
	line-height:2;
}
