#show_all {
	float: right;
	margin-right: 5px;
	margin-top: 6px;
	cursor: pointer;
}

.xui_title_bar label {
	float: right;
	font-weight: normal;
}

#export_bug_definitions {
	float: right;
	margin-top: -1px;
	margin-left: 20px;
	height: 25px;
}

#export_bug_matches {
	float: right;
	margin-right: 10px;
	margin-top: -1px;
	margin-left: 20px;
	height: 25px;
}

#customize_layout {
	margin-left: 10px;
	margin-top: -3px;
	height: 25px;
}

#option_tip {
	margin-left:10px;
	margin-bottom:5px;
}

#reset_option {
	float:right;
	margin-right:30px;
	margin-bottom:15px;
	height: 25px;
}

#save_option {
	float:right;
	margin-right:30px;
	margin-bottom:15px;
	height:25px;
}

.slide_up {
	float:right;
	margin-right:30px;	
	margin-bottom:15px;
	cursor:pointer;
}


#product_select {
	margin-right: 150px;
	margin-left: 10px;
}

#software_tree_div,#hardware_tree_div {
	position: absolute;
	border: 2px solid #CCC;
	-webkit-box-shadow: 0 0 12px #111;
	-moz-box-shadow: 0 0 12px #111;
	box-shadow: 0 0 12px #111;
	z-index: 999;
	display: none;
	width: 250px;
	background: white;
	padding: 10px;
}

#software_tree,#hardware_tree {
	padding: 10px;
	max-width: 220px;
	max-height: 200px;
	*width: 220px;
	*height: 180px;
	overflow: auto;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}

.add_bug_title {
	margin-top: 3px;
}

#pagination {
	float: right;
	margin-right: 10px;
	margin-top: 1px;
}

#add_bug {
	margin-top: 2px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}

table {
	width: 100%;
	margin-bottom: 10px;
}

.edit_bug,.delete_bug,.test_bug,.export_bug {
	margin-right: 5px;
	cursor: pointer;
}

#bug_table>tbody>tr:hover{
	background:rgb(190,150,4);
}

#bug_table>tbody>tr.selected{
	background:rgb(195,115,4);
}

#bug_table tr:not (.bug_info_row ){
	cursor: pointer;
}

*+html #bug_table tr {
	cursor: pointer;
}

#bug_table tr:not (.bug_info_row ):hover {
	background: #d0d0d0;
}

*+html #bug_table tr:hover {
	background: #d0d0d0;
}

#bug_info_div,#bug_edit_div {
	display: none;
}

.hardware_tree_input,.software_tree_input {
	width: 230px;
}

.component,.domain,.impact,.lifecycle {
	margin: 0px;
}

p.xui_hightened {
	margin-right: 20px;
}

.scope_input {
	width: 30px;
}

.symptom_id {
	width: 290px;
}

.add_symptom,.delete_symptom,.left_parenthesis,.right_parenthesis {
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}

#bug_table th.desc {
	background-image: url('../../images/asc.png');
	background-position: right center;
	background-repeat: no-repeat;
}

#bug_table th.asc {
	background-image: url('../../images/desc.png');
	background-position: right center;
	background-repeat: no-repeat;
}

#bug_table th:not (:last-child ){
	padding-right: 13px;
}

#bug_table th:not (:last-child ):hover {
	background-color: #555;
}

*+html #bug_table th:hover {
	background-color: #555;
}

select.symptom_unit {
	width: 100px;
}

select.symptom_op {
	width: 100px;
}

select#component_select,select#domain_select,select#id_select,select#impact_select,select#lifecyle_select
	{
	width: 175px;
}

#dialog .hardware_tree_input,#dialog .software_tree_input,#dialog .description_input,#dialog .category_input
	{
	width: 620px;
}

#dialog .domain,#dialog .component,#dialog .lifecycle,#dialog .impact {
	width: 240px;
}

.left_parent_num,.right_parent_num {
	width: 20px;
	display: none;
}

#dialog .remediation_link,#dialog .identification_link {
	width: 495px;
	vertical-align: middle;
	margin-left: 10px;
}

#dialog .kba_input,#dialog .bugzilla_input {
	width: 100px;
}

.penetration_percentage {
	readonly: readonly;
}

.export_bug {
	margin-left: 5px;
}

.hidden {
	display: none;
}

.left_parenthesis {
	width: 20px;
	height: 20px;
	background: url(../../images/parenthesis.png) no-repeat;
}
.right_parenthesis {
	width: 20px;
	height: 20px;
	background: url(../../images/parenthesis.png) no-repeat;
}

.left_parenthesis_0 {
	background-position: -0 0;
}

.left_parenthesis_1 {
	
	background-position: -20px 0;
}

.left_parenthesis_2 {
	
	background-position: -40px 0;
}

.left_parenthesis_3 {
	
	background-position: -60px 0;
}

.left_parenthesis_4 {
	
	background-position: -80px 0;
}

.right_parenthesis_0 {
	
	background-position: 0 -20px;
}

.right_parenthesis_1 {
	
	background-position: -80px -20px;
}

.right_parenthesis_2 {
	
	background-position: -60px -20px;
}

.right_parenthesis_3 {
	
	background-position: -40px -20px;
}

.right_parenthesis_4 {
	
	background-position: -20px -20px;
}

.flag {
	display:inline;
	font-family: Arial;
	font-size: 12px;
	vertical-align: top;
	color: red;
	visibility:hidden;
/* 	position:absolute; */
	margin-right:3px;
	margin-left: -12px;
	line-height: 0.7
}

.sortable{
	cursor:pointer;
}

.sortable:hover{
	background-color:#666;
}