#user_info{
	width:600px;
	margin:0 auto;
}

#user_info table th{
	font-weight:bold;
	color:rgb(195,115,4);
}

#info_list{
	float:left;
	margin-left:50px;
}

#user_info img{
	float:left;
	height:150px;
	border:2px solid #888;
	-webkit-box-shadow: 0 0 8px #333;
	-moz-box-shadow: 0 0 8px #333;
	box-shadow: 0 0 8px #333;
}

#receive_no{
	margin-left:20px;
}

.xui_title_bar{
	line-height:2;
}