#def_pagination{
	float:right;
	margin-right:10px;
	margin-top:2px;
}

#def_show_all{
	float:right;
	margin-right:3px;
	margin-top:6px;
	cursor:pointer;
}

.xui_title_bar label{
	float:right;
	font-weight:normal;
	margin-right:30px;
}

#search_symptom,#search_comparison{
	margin-left:10px;
	font-size:10pt;
}

#add_symptom,#filter_symptom{
	float:right;
	margin-right:10px;
	cursor:pointer;
}

#symptom_table,#comparison_table{
	border-collapse:separate;
	border-spacing:4px;
}

#symptom_table td,#comparison_table td{
	cursor:pointer;
}

#symptom_table>tbody>tr:hover,#comparison_table>tbody>tr:hover{
	background:rgb(190,150,4);
}

#symptom_table>tbody>tr.selected,#comparison_table>tbody>tr.selected, #symptom_table>tbody>tr.selected table tr{
	background:rgb(195,115,4);
}

#symptom_table td,#symptom_table th,#comparison_table td, #comparison_table th{
	padding:0px;
}

.second_inner_row{
	clear:left;
	border-top:1px solid white;
}

.third_inner_row{
	clear:left;
	border-top:1px solid white;
}

.second_inner_row>div, .first_inner_row>div{
	float:left;
	padding-top:5px;
	padding-bottom:5px;
}

.cell_data{
	width:30%;
}

.cell_operator{
	width:10%;
}

.operator{
	height:2em;
}

.cell_operandA{
	width:45%;
	border-right:1px solid white;
}

.cell_operandB{
	width:44%;
	border-left:1px solid white;
}

.cell_pattern{
	width:69%;
	border-left:1px solid white;
}

.cell_min,.cell_max{
	width:30%;
	border-right:1px solid white;
}

.min_input,.max_input{
	width:90% !important;
}

.scope_input{
	width:50% !important;
}

.scope_select{
	width:40% !important;
	height:1.6em;
}

.cell_scope{
	width:39.5%;
}

#symptom_table textarea.description_input,#comparison_table textarea.description_input{
	width:90% !important;
	position:absolute;
	top:5px;
	left:5px;
}

.name_select,input.description_input{
	width:90% !important;
	height:1.6em;	
}

.pattern_input{
	height:1.6em;
}

.second_inner_row select,.second_inner_row input{
	vertical-align:middle;
}

#symptom_table td .second_inner_row,#symptom_table textarea.description_input,#comparison_table td .second_inner_row,#comparison_table textarea.description_input{
	display:none;
}

#add_symptom,#filter_symptom,
.save.enable,
.delete,
.test,
.bug.enable{
	cursor:pointer;
}

#add_symptom,#filter_symptom{
	margin-top:2px;
}

.save{
	cursor:auto;
}

.delete{
	margin-left:0px;
	margin-right:0px;
}
.bug{
	cursor:auto;
}

.desc{
	background-image:url('../../images/asc.png');
	background-position:right center;
	background-repeat:no-repeat;
}

.asc{
	background-image:url('../../images/desc.png');
	background-position:right center;
	background-repeat:no-repeat;
}

.sortable{
	cursor:pointer;
}

.sortable:hover{
	background-color:#666;
}

#filter_board{
	background-color:#ecf5ff;
	display:none;
}

#filter_board>table{
	margin-left:auto;
	margin-right:auto;
	font-size:10pt;
}

#filter_pattern,#filter_description{
	width:250px;
}

#filter_id,#filter_data{
	width:250px;
	margin-right:50px;
}

.slide_up{
	margin-left:30px;
	cursor:pointer;
}

html{
	overflow-y:scroll;
}

#sym_type{
	margin-left:10px;
	float:left;
	margin-top:2px;
}

.substitute{
	display:none;
	font-size:0.8em;
	margin-top:15px;
	vertical-align :text-top;
}

#symptom_table .third_inner_row table{
	border-collapse:separate;
	border-spacing:4px;
	*width:606px;
}

#symptom_table .third_inner_row th{
	padding-top:5px;
	padding-bottom:5px;
}

#tooltip{
	position:absolute;
	border:1px solid #fad42e;
	background-color:#fbec88;
	color:#363636;
	font-size:0.8em;
	padding:5px;
	display:none;
}

#selection_loading{
	position:absolute;
	display:none;
}

.placeholder{
	width:90%;
	height:1.6em;
}

.sub_type{
	float:left;
	width:24%;
	margin-right:5px;
}

.op_type{
	height:2em;
	float:left;
	width:25%;
	margin-left:5px;
}

.var_select,.var_calculation,.ref_sym_id,.ref_regex,.value_operand{
	width:32%;
	height:1.6em;
	float:left;
	margin-left:5px;
}

.ref_sym_id,.ref_regex,.value_operand{
	display:none;
}

.sub_back_ref, .sub_sym_id{
	float:left;
	height:1.6em;
	width:18%;
	margin-right:5px;
}

.mapping{
	float:right;
	height:1.6em;
	width:32%;
}

.sub_var_name{
	float:left;
	height:1.6em;
	margin-right:5px;
	width:38.5%;
	display:none;
}

#export_symptom_definitions{
	float:left;
}

.export_bug{
	margin-left:5px;
}

.flag {
	
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
	
	color: black;
	visibility:hidden;
	
	text-align:right;
 	position:relative; 
	margin-right:2px;
	margin-left: -5px;
	margin-top: -25px;
	width: 5px;
	float: right;
}

#test_result {
	max-height:80%;
}

#matched_title {
	font-weight: bold;
	margin-bottom: 10px;
}

#matched_examples {
	max-height:400px;
	overflow-y:auto;
	overflow-x:hidden;
}

#bug_test_result {
	border-collapse: collapse; 
	border-spacing: 0; 
	border-style:solid;
	border-color:#5c9ccc;
	border-width: 1px 0 0 1px;
	width: 800px;
}

#bug_test_result td, #bug_test_result th{
	padding: 5px;
	border-collapse: collapse; 
	border-spacing: 0; 
	border-style:solid;
	border-color:#5c9ccc;
	border-width: 0 1px 1px 0;
}

#bug_test_result th {
	text-align: center;
}